{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="website">{{ i18n "yourWebsite" }}</label>
    <input type="text" id="website" name="website" class="{{ $.Scratch.Get "inputClasses" }}" placeholder=" "  aria-labelledby="website"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="type">{{ i18n "yourType" }}</label>
    <select name="type" id="type" class="{{ $.Scratch.Get "inputClasses" }}" placeholder=" "  aria-labelledby="type">
        <option value="individual">{{ i18n "Individual" }}</option>
        <option value="organization">{{ i18n "Organization" }}</option>
    </select>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }} <a href="/en/privacy">Privacy Policy</a>
    </div>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="{{ i18n "sign" }}" />

</form>
